<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>


{{#username}}
<form action="add-message" method="post">
    <input type="text" placeholder="Enter Your Message" name="text" size="50"/>
    <button type="submit">Submit</button>
</form>
<br><br>
Messages by {{.}}:
<br><br>
{{#messages}}
{{id}}. {{text}}
<a href="edit?id={{id}}">Edit</a>
<form action="delete-message" method="post" style="display:inline">
    <input type="hidden" name="id" value="{{id}}"/>
    <button type="submit">Delete</button><br>
</form>

<!--
<button type="submit">Delete</button><br>
</a>-->

{{/messages}}
{{/username}}


{{^username}}
<form action="login" method="post">
    <input type="text" placeholder="Enter Your Name" name="username" size="50"/>
    <button type="submit">Login</button>
</form>
{{/username}}

</body>
</html>